<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap" rel="stylesheet">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>DMPK Home</title>
</head>
<body>
    <header>
        <section id="dmpk">
        <h1><span id ="D">D</span><span id="M">M</span><span id="P">P</span><span id="K">K</span> Lab</h1>
        </section>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/instrument.ejs">Instruments</a></li>
                <li><a href="#">Projects</a></li>
            </ul>
        </nav>
    </header>
    <section id="weather">
        <section id="icon"></section>
        <h4></h4>
        
    </section>
    <main>
        
        <section id="chat">
            <h3>Chat: </h3>
            <section id="two">
                <ul class="quotes">
                    <% for(let i = 0; i < info.length; i++) {%>
                        <li class="quote">
                            <span class="name"><%= info[i].statD %></span><span>:   </span>
                            <span><%= info[i].chats %></span>
                            <span><%= info[i].time %></span>
                        </li>
                    <% } %>
                    </ul>
        </section>
        <form action="/chat" method="POST">
            <label for="chats">New Message:    </label>
            <label for="statD"> </label>
            
            
            
              <select id="statD" name="statD">
                <option>Name:</option>
                <option value="Olivier">Olivier</option>
                <option value="Katherine">Katherine</option>
                <option value="Chandra">Chandra</option>
                <option value="Irene">Irene</option>
                <option value="Nathaniel">Nathaniel</option>
                <option value="Sichen">Sichen</option>
                <option value="Valerie">Valerie</option>
              <input type="text" id="chats" name="chats">
              <input type="text" id="time" name="time" value="">
              
              <button id="submit" type="submit">Submit</button>
              <!--<div id="submit">Submit<div>-->

        </form>
        </section>
        <section id="newscom">
            <section>
            <h3>News and Communications: </h3>
            </section>
            <span>Moving Dates:</span>
            <span>1st Move: Mon, July 11th</span>
            <span>2nd Move: Mon, July 18th</span>
        </section>
        <section id="meeting">
            <section>
            <h3>Monthly Meeting Notes: </h3>
            </section>
        </section>
    </main>
    <script src="js/home.js"></script>
</body>
</html>