* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
html {
    font-size: 62.5%;
    background-color: #fefefa;
}
.inst, nav {
    background-color: floralwhite;
}
h1 {
    color: floralwhite;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li, nav li a {
    list-style: none;
    margin: auto;
    flex-wrap: nowrap;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    
}
#dmpk {
    background-color: black;
    color: white;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

}
h1 {
    margin-left: 20%;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}
.inst h2 {
    width: 20%;
}
a {
    text-decoration: none;
    margin: auto, 10px;
}
nav {
    border: black 1px solid;
    width: 60%;
    display: flex;
    justify-content: space-around;
    
    
    
}
main, .inst  {
    display: flex;
    flex-wrap: wrap;
   
}
.button{
    
    cursor: pointer;
}
#submit {
    
    background-color: lightgray;
    border: black solid .5px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px !important;
}

.inst {
    border: 1px solid black;
    width: 100%;
    /* height: 650px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    flex-wrap: nowrap !important;
    
   


}
.acc {
    width: 430.66px;
    border: solid 1px black;
}
#state, #stateB, #stateC, #stateD {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    
    
}
.form1 {
    
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-wrap: nowrap;
    margin: 10px;
    border-radius: 5%;
    padding: 10px;
    
}
.Nathaniel {
    background-color: goldenrod;
    width: 100%;
}
.Sichen {
    background-color: rgb(135, 190, 235);
    width: 100%;
}
.Katherine {
    background-color: rgb(218, 32, 156);
    width: 100%;
}
.Olivier {
    background-color: rgb(139, 231, 127);
    width: 100%;
}
.Chandra {
    background-color: rgb(218, 131, 32);
    width: 100%;
}
.Irene {
    background-color: rgb(32, 181, 218);
    width: 100%;
}
.Lauren {
    background-color: rgb(223, 151, 219);
    width: 100%;
}
.reserved{
    background-color: salmon;
}
.available{
    background-color: lightgreen;
}
.maint{
    background-color: skyblue;
}
.inuse{
    background-color: #FFFF8F;
}
#infos, #infosB, #infosC, #infosD{
    width: 100%;
    
    
    
}

.info {
    height: fit-content;
    
    
}
#inputs, #infos, #infosB, #infosC, #infosD{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
#submit, #submitB, #submitC, #submitD {
    height: 20px;
    width: 40px;
    background-color: lightgray;
    border: black solid .5px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.currentInstStatus {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    border-radius: 5%;
    overflow: auto;
    height: 25%;
    margin-top: 20px;
    
    
    
   
    

}
.currentInstStatus ul{
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    list-style: none;
}
.currentInstStatus li {
    list-style: none;
}

.currentInstStatus span {
    align-self: center;
    margin: 2px auto;
    
    
}

.listItem{
    margin-bottom: 20px;
}
.asTray{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px;
    background-color: skyblue;
    height: fit-content;
    justify-content: space-evenly;
}
h2 {
    width: 75%;
    font-size: 3rem;
    
}
h3 {
    text-decoration: underline;
    margin: 0px, auto;
}
.allState {
    display: flex;
    flex-direction: column;
    width: 40%;
    

}

#instStat, #runDate, #endDate, #initE, #instStatB, #runDateB, #endDateB, #initEB, #instStatC, #runDateC, #endDateC, #initEC, #instStatD, #runDateD, #endDateD, #initED {
    font-size: 1.2rem;
    font-weight: 800;
}

@media screen and (max-width: 1040px) {
    .inst {
        width: 100%;
        
    }
    #dmpk {
        width: 100%;
        justify-content: center;
        
    }
    .acc {
        width: 100%;
    }
    
    #state, #stateB, #stateC, #stateD {
        width: 100%;
        margin: auto;
        height: 75%;
    }
    
    h1 {
        margin: auto;
    }
    header {
        flex-wrap: wrap;
    }
    li a {
        
        font-size: 2rem !important;
        margin: auto, 10px !important;
    }
    nav {
        width: 100%;
    }
}

@media screen and (max-width: 420px){
    .form1 {
        width: 100% !important;
    }
    #state, #stateB, #stateC, #stateD {
        flex-direction: column !important;
        display: flex;
        flex-wrap: wrap !important;
        width: 100% !important;
    }
    .currentInstStatus {
        width: 100%;
    }
    .inst {
        flex-direction: column !important;
        display: flex;
        flex-wrap: nowrap;
    }
    h2 {
        font-size: 4vw;
    }
    
}
